.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  width: 50vw;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(63, 63, 62);

  p {
    font-size: 1.1rem;
    margin: 0;
  }

  .label {
    margin-right: 5px;
    margin-left: 10px;
  }

  // .input__file {
  //   width: 0.1px;
  //   height: 0.1px;
  //   opacity: 0;
  //   overflow: hidden;
  //   position: absolute;
  //   z-index: -1;
  // }

  // .input__file__label {
  //   color: white;
  //   background-color: black;
  //   display: inline-block;
  //   cursor: pointer;
  // }
}
