.about {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .heading {
    align-self: center;
  }

  .link__home {
    cursor: pointer;
    align-self: center;
    padding: 10px;
    transition: all 1s;

    .button {
      cursor: pointer;
      padding: 10px;
      color: rgba(255, 255, 255, 0.87);
      background-color: rgb(80, 77, 77);
      outline: none;
      border: none;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgb(99, 97, 97);
      }
    }
  }
}
